<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sistemadeencuestas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RespuestaInsertarActivity"></activity>
        <activity android:name=".RespuestaEliminarActivity" />
        <activity android:name=".RespuestaConsultarActivity" />
        <activity android:name=".RespuestaActualizarActivity" />
        <activity android:name=".RespuestaActivity" />
        <activity android:name=".MateriaInsertarActivity" />
        <activity android:name=".MateriaEliminarActivity" />
        <activity android:name=".MateriaConsultarActivity" />
        <activity android:name=".MateriaActualizarActivity" />
        <activity android:name=".IntentoEliminarActivity" />
        <activity android:name=".IntentoConsultarActivity" />
        <activity android:name=".IntentoActualizarActivity" />
        <activity android:name=".IntentoInsertarActivity" />
        <activity android:name=".IntentoActivity" />
        <activity android:name=".RespEncActivity" />
        <activity android:name=".ListaEncActivity" />
        <activity android:name=".CrearEncuestaActivity" />
        <activity android:name=".DocenteActivity" />
        <activity android:name=".MateriaActivity" />
        <activity android:name=".PregActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>